/totalcalculate/nbproject/private/
/payoff/nbproject/private/
/postCode/nbproject/private/
/testscan/nbproject/private/
/barcodefilegenerator/nbproject/private/
/secondhandmarktgui/nbproject/private/
/secondhandcommon/nbproject/private/
/customerfilecreator/nbproject/private/
/secondhandsale/nbproject/private/
/secondhandmarktgui/build/
/barcodefilegenerator/build/
/secondhandcommon/build/
/secondhandcommon/dist/
/barcodefilegenerator/dist/
/payoff/build/
/payoff/dist/
/postCode/build/
/postCode/dist/
/testscan/build/
/testscan/dist/
/totalcalculate/build/
/totalcalculate/dist/
/secondhandsale/build/
/secondhandsale/dist/
/secondhandmarktgui/dist/
/secondhand-gui/build/
/secondhand-gui/dist/
/secondhand-gui/nbproject/private/
/_secondhandcommon/build/
/_secondhandcommon/dist/
/_secondhandcommon/nbproject/private/
/secondhand-common/target/
/secondhand-gui/target/
/secondhand-barcodefilegenerator/target/
/_payoff/build/
/_payoff/dist/
/_payoff/nbproject/private/
/secondhand-payoff/target/
/_postCode/build/
/_postCode/dist/
/_postCode/nbproject/private/
/_secondhandsale/build/
/_secondhandsale/dist/
/_secondhandsale/nbproject/private/
/secondhand-sale/target/
/_testscan/build/
/_testscan/dist/
/_testscan/nbproject/private/
/secondhand-postcode/target/
/secondhand-testscan/target/